* {
    text-align: center;
    background-color: #282828;
    color: #ebdbb2;
}
button {
    background-color: #ebdbb2;
    border: none;
    color: #282828;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#playYN, #options, #playAgainOrQuit {
    display: none;
}

#scoresContainer{
    display: flex;
}
#scoresContainer div{
    flex-grow: 1;
    text-align: center;
}